@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: white;
  --background-start-rgb: #263955;
  --background-middle-rgb: #3a3f5a;
  --background-middle2-rgb: #1e2740;
  --background-end-rgb: #18031a;
}

body {
  background: linear-gradient(
    -45deg,
    var(--background-start-rgb),
    var(--background-middle-rgb),
    var(--background-middle2-rgb),
    var(--background-end-rgb)
  );
  min-height: 100vh;
  color: var(--foreground-rgb);
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar-track {
  display: none;
  background: var(--background-middle2-rgb);
}

::-webkit-scrollbar-thumb {
  display: none;
  background: var(--background-middle-rgb);
  border-radius: 5px;
}

@media (max-width: 768px) {
  body::-webkit-scrollbar {
    display: none;
  }

  ::-webkit-scrollbar {
    width: 4px;
    display: none;
  }

  ::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.2);
    display: none;
  }

  body {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
